#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: center;
}

.team > div {
    display: flex;
    justify-content: center;
}
